
<div>
    <div class="titr">سازگار با:</div>
    <ul class="parag">
        {% for compatible in Details["Detail"]["CompatibleList"] %}
            <li class="parag">{{ compatible["DisplayName"] }}</li>
        {% endfor %}
    </ul>
</div>

<div>
    <div class="titr">بسته شامل:</div>
    <ul class="parag">
        {% for package in Details["Detail"]["PackageList"] %}
            <li class="parag" >{{ package }}</li>
        {% endfor %}
    </ul>
</div>
<div class="jay" style="text-align:right !important;direction:rtl !important">
<table >
    <thead >
        <tr>
            <th class="titr" >مشخصات فنی</th>
            <th></th>
        </tr>
    </thead>
    <tbody >
        {% for specific in Details["Detail"]["SpecificationList"] %}
            <tr>
                <td class="parag">{{ specific["Name"] }}</td>
                <td class="parag">{{ specific["Value"] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="clear"></div>
</div>
  
</body>
</html>